body {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;

}

.firstdiv {
    background-image: url(https://www.zoomcar.com/assets/component-images/ZMS-Hero-Banner.584135fee08ac6c84fee329d5fb915f4.jpg);
    height: 800px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 75%;
}

.logobutton {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.logo {
    display: flex;
    justify-content: center;
    flex: 5;
}

.logo>img {
    width: 20%;
    height: 30px;
}

.button {

    flex: 5;
    display: flex;
    justify-content: center;

}

.firstbutton {
    height: 45px;
    width: 20%;
    border: 1px solid white;
    border-radius: 4px;
}

.text1 {
    color: white;
    text-align: center;
    margin-top: 15%;
    padding-left: 33%;
    padding-right: 33%;
}

.buttongreen {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.buttgreen {
    background-color: rgb(16, 163, 16);
    color: white;
    height: 45px;
    width: 20%;
    border: 1px solid green;
    border-radius: 4px;
}

.green_line {
    background-color: rgb(16, 163, 16);
    height: 15px;
}

.offer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.solution {
    display: flex;
    justify-content: center;
    gap: 80px;
    border: 1px solid white;
    margin-left: 17%;
    margin-right: 17%;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    border-radius: 10px;
    margin-top: 5%;
    /* margin-bottom: 25px; */
}

.vehicle{
    width: 40%;
    border-radius: 10px;
    padding-left: 70px;
}
.management{
    width: 40%;
    border-radius: 10px;
    padding-left: 70px;
}
.sec_div {
    padding: 72px 32px 32px;
    border-radius: 8px;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    margin-left: 10%;
    height: 1000px;
    margin-top: -25px;
}

.head {
    color: .666;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding-left: 17%;
    padding-right: 17%;
}

.slide {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border: 1px solid rgb(16, 163, 16);
    border-radius: 10px;
}

.feature {
    color: .666;
}

.feature_div {
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.text_sec {
    width: 30%;
    height: 150px;
    /* border: 1px solid green; */
    margin-right: 2%;
}

.third_green {
    margin-top: 5%;
    width: 20%;
    height: 40px;
    background-color: rgb(16, 163, 16);
    color: white;
    border: 1px solid rgb(16, 163, 16);
    border-radius: 4px;
}

.cont_image {
    background-image: url(https://www.zoomcar.com/assets/component-images/bound@2x.476261040c66e2e84987563e0b955b44.jpg);
    height: 600px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    /* padding-top: 5% */
    margin-top: 5%;
}

.main2 {
    background-color: whitesmoke;
    height: 700px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -400px;
    margin-left: 12%;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.class2 {
    width: 30%;
    height: 200px;
    /* border: 1px solid red; */
    margin-top: 5%;


}

.class2>img {
    width: 10%;
    /* height: 28px; */
}

.heading {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5%;
    color: white;
}

.class2>p {
    color: .666;
}

.road_map>img {
    width: 70%;
    margin-left: 15%;
    margin-top: 7%;
}

.fourth_div {
    background-image: url(https://www.zoomcar.com/assets/component-images/rectangle.e2190cd211f285fb86e5c7809c0f7b42.jpg);
    height: 900px;
    margin-top: -230px;
}

.text_cont {
    padding-top: 17%;
}

.head4 {
    display: flex;
    justify-content: center;
}

.para {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 31%;
    padding-right: 31%;
    font-size: larger;
    color: .666;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.blackbox {
    /* border: 1px solid red; */
    width: 21%;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-top: 45px;
    background-color: black;
    color: white;
    font-size: larger;
    padding: 20px;
    border-radius: 5px;
    /* justify-content: space-around */
}

.blackbox>img {
    /* width: 20%; */
    height: 50px;
    margin-bottom: 30%;
}

.fifth_div {
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
}

.heading1 {
    display: flex;
    justify-content: center;
}

.para2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: .666;
}

.form {
    margin-top: 8%;
}

.input1{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    gap: 5%;
    border-radius: 4px;
}

.input2 {
    height: 60px;
    width: 98%;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 4px;
}

.textarea {
    margin-top: 8%;
    width: 98%;
    height: 150px;
}

.submitbutton {
    width: 50%;
    height: 40px;
    color: white;
    background-color: forestgreen;
    border: 1px solid forestgreen;
    border-radius: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.footer {
    margin-top: 25%;
}

.linegreen {
    background-color: rgb(37, 161, 37);
    height: 15px;
    margin: 0;
    padding: 0;
}

.black {
    background-image: linear-gradient(270deg, .000, .1f1f1f);
    height: 400px;
    text-align: center;
    color: white;
    font-size: larger;
    padding-top: 50px;
}

.blackimage {
    color: white;
    height: 150px;
    width: 25%;

}