/* Naviation Bar */
.mainNav {
  margin: 0;
  padding: 0;
  width: 100vw;
}


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: black;
  position: fixed;
  z-index: 1000;
}
/* Naviation Bar: Logo,texting and Image */
.logo {
  margin: 0 17px;
}
.logo img {
  width: 120px;
  height: 90px;
  border: none;
  margin: 0 20px;
}

.nav_ul {
  display: flex;
}
.nav_ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  padding-right: 15px;
  margin-right: 20px;
  cursor: pointer;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  color: aliceblue;
  margin: 15px 0;
}


.dropdown_5 {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 160px;
  padding: 0px 0 0 0;
  margin-top: 1px;
  display: none;
  background-color: white;
}

.drop_d_box_user_hide {
  display: none;
}

.dropdown_5 .drop_d_links button {
  width: 100%;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  background: none;
  cursor: pointer;
}
.last_bttn button {
  border: none;
}
.dropdown_5 .drop_d_links button:hover {
  /* font-size: 14px; */
  background-color: yellowgreen;
}
.arrowmiddle55 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 130px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}
.us_name {
  margin-top: 20px;
  display: flex;
  color: white;
}
#avtar_logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 0px;
}

.subscrLogo1 {
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: auto;
}
.subscr_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 335px;
  text-align: center;
  align-items: center;
}
#sub_det_item .arrowmiddle {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 200px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
#sub_det_item {
  display: none;
}

.subscr_logo {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.subscr_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.subscr_btn {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(88, 180, 85);
  border: none;
  font-size: 12px;
  padding: 7px;
  color: white;
  text-align: center;
}
.item:hover > .details {
  display: block;
}

.amigo-logo2 {
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin: auto;
}
.amigo_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 260px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 200px;
  text-align: center;
  align-items: center;
}
.amigo_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle2 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 300px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details2 {
  display: none;
}
.item:hover > .details2 {
  display: block;
}

.zmsLogo3 {
  display: block;
  background-size: 120px;
  background-repeat: no-repeat;
  width: 120px;
  height: 30px;
  margin: 2px auto;
}
.zms_detail {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 230px;
  padding: 10px;
  top: 70%;
  border-radius: 4px;
  right: 150px;
  text-align: center;
  align-items: center;
}
.zms_detail p {
  color: #33414f;
  font-size: 12px;
  text-align: center;
}
.arrowmiddle3 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 360px;
  top: 45px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.details3 {
  display: none;
}
.item:hover > .details3 {
  display: block;
}

.details4 {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  width: 170px;
  height: 90px;
  top: 70%;
  border-radius: 4px;
  right: 110px;
  text-align: center;
  align-items: center;
}
.mob_det {
  display: none;
}

.item:hover > .mob_det {
  display: block;
}
.arrowmiddle4 {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 450px;
  top: 43px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}
.mob_anc {
  width: 100%;
  height: 50%;
  font-size: 18px;
}
.mob_anc .mob1,
.mob_anc .mob2 {
  display: flex;
  color: rgb(83, 83, 83);
  margin: 0%;
  box-sizing: border-box;
}

.mob_anc .mob2 {
  border-top: 1px solid rgb(161, 160, 160);
  display: flex;
  position: absolute;
  top: 55%;
  width: 100%;
  padding: 3px 0px 0 0;
}
.mob1 img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 8px;
}
.mob2 img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-left: 5px;
}

/**=======================
 * !      Signup
 *========================**/

.flexbox {
  width: 100%;
  height: 98vh;
  margin: auto;
  display: flex;
  background-color: rgb(243, 243, 243);
}

.flexbox > div:nth-child(1) {
  width: 50%;
}
.signupForm {
  width: 50%;
  padding: 2%;
  margin-left: 25%;
  margin-top: 5%;
}

.signupForm > form {
  padding: 5px;
}

.signupForm > form > input {
  width: 290px;
  padding: 11px;
  display: block;
  margin: 0 auto 4%;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.signupForm button {
  width: 130px;
  padding: 6px;
  font-size: 22px;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: rgb(9, 158, 64);
  color: white;
  border-radius: 5px;
  margin-left: 33%;
}


.signupForm button:hover {
  background-color: purple;
  color: white;
}
/**=======================
 * !      caarousel
 *========================**/

/* .mainCarouselDiv {
  width: 90%;
  height: 50%;
} */
.mainCarousel {
  width: 350px;
  margin: 20px auto;
  padding: 30px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.carouselImges {
  margin-bottom: 200px;
  padding: 25px;
}

.h6 {
  text-align: center;
  color: gray;
}
